// Place all the styles related to the coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: indianred;
  font-family: "Berkshire Swash", cursive;
  text-align: center;
}

label {
  font-size: 1.4rem;
color: #333;
font-family: "Berkshire Swash", cursive;
text-align: center;
}

a {
  font-size: 1.4rem;
color: #333;
font-family: "Berkshire Swash", cursive;
text-align: center;
}

button {
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
  font-family: sans-serif;
  cursor: pointer;
}